<!-- Botón hamburguesa -->
    <button class="menu-toggle" aria-label="Abrir menú">&#9776;</button>

    <nav class="nav-links">
      <a href="index.html">Inicio</a>
      <a href="statement.html">Statement</a>
      <div class="dropdown">
      <a href="works.html">
      <button class="dropbtn">Obras &#x25BE;</button>
      </a>
      <div class="dropdown-content">
        <a href="obras/obra1.html">Obra 1</a>
        <a href="obras/obra2.html">Obra 2</a>
        <a href="obras/obra3.html">Obra 3</a>
        <a href="obras/obra4.html">Obra 4</a>
        <a href="obras/obra5.html">Obra 5</a>
        <a href="obras/obra6.html">Obra 6</a>
      </div>
    </div>
      <a href="curriculum.html">Curriculum</a>
      <a href="contact.html">Contacto</a>
    </nav>