/* Responsive Design */
@media (max-width: 1024px) {
 .hero-description {
     font-size: 0.8rem;
  } 
}

@media (max-width: 768px) {
  header {
    align-items: flex-start;
    box-shadow:0 2px 4px rgba(0,0,0,.3);
  }
  

  nav {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  .menu-toggle {
    display: block;
    align-self: center;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 1rem;
    border-top: 1px solid #333;
  }
.hero {
    background: url('../img/090034.jpg') no-repeat center center/cover;
  }
.hero-content {
     flex-direction: column;
    align-items: center;       /* centrado horizontal */
    text-align: center;

    /* justify-content: space-between; */
    /* padding-bottom: 4rem; */
  }
  .hero-block-left{
    flex: 0 0 10%
  }
  .hero-block {
    flex: 0 0 90%;
    flex-direction: column;
    justify-content: space-between;
  }

   .hero-description {
    top: calc(50% + 6rem); /* aparece debajo del título */
    font-size: clamp(0.55rem, 1.6vw, 0.8rem);
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0);
    /* position: absolute;
    top: calc(50% + 5rem); /* aparece debajo del título */
    /* left: 50%; */
    /* position: relative; */
    /* transform: none; */
    /* left: auto; */
    /* top: auto; */
    /* width: 90%; */
    /* max-width: 100%; */
    /* height: auto; */
    /* padding: 0.5rem; */
    /* margin: 1rem; */
  }

  .hero-description:hover {
    width: 90%;
    max-width: 80vw;
    height: 25vh;
    background-color: rgba(0, 0, 0, 0.4);
    }

  .hero-description:hover p {
    padding: 0rem;
    /* opacity: 1; */
    /* max-height: 1000px; */
  }

  .info-icon {
    /* display: none; */
  }
  .hero-overlay{
    width: 0;
  }
  .scroll-icon{
    margin-bottom: 5vh;
  }

  .gallery-content {
    flex-direction: column;
  }
  .gallery-text,
  .gallery {
    flex: 1 1 100%;
    padding: 1rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1rem;
  }

  .hero {
    background: url('../img/090034.jpg') no-repeat center center/cover;
  }
 
  nav a {
    font-size: 0.9rem;
  }

  /* .hero h2, .hero h3, .parallax-section h3 {
    font-size: 0.5rem; 
  } */

  .hero h2{
    letter-spacing: 0.4rem;
  }
  .gallery-title h3 {
    font-size: 1.5rem;
  }

  .gallery {
    grid-template-columns: 1fr;
    grid-auto-rows: 180px;
  }

  .gallery img.vertical {
    grid-row: span 1;
  }

}